.apartments-button {
    @each $name, $size in $global-gaps {
        @if (($name == large) or ($name == xlarge) or ($name == xxlarge)) {
            @include breakpoint($name) {
                margin: 0 ($size * 6.5);
            }
        } @else {
            @include breakpoint($name) {
                margin: 0 ($size * 2);
            }
        }
    }

    .button {
        display: block;
        width: 100%;
        font-size: rem-calc(14);
        padding: rem-calc(30 28 28);
        background-color: color(blue);

        &:hover {
            background-color: lighten(color(blue), 10%);
        }
    }
}
