.apartments {
    display: flex;
    flex-wrap: wrap;
    max-width: rem-calc(1120);
    margin: 0 auto;
}

.apartments__item {
    position: relative;
    flex-basis: 100%;
    @include breakpoint(medium) {
        flex-basis: 50%;
        max-width: 50%;
    }
    @include breakpoint(large) {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    display: flex;
    flex-direction: column;

    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            margin-bottom: $size;
            padding: 0 $size / 2;
        }
    }
}

.apartments__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(-10);
    padding: rem-calc(16 16 0);
}

.apartments__labels {
    margin: 0;
}
.apartments__favorite {
    position: relative;
    margin-left: auto;
    z-index: 3;
}

.apartments__img {
    position: relative;
    display: block;
    margin-bottom: rem-calc(22);
    padding: rem-calc(0 16);
    padding-bottom: 71%;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
}

.apartments__link {
    flex-grow: 2;
    display: block;
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: 0 $size;
        }
    }
    color: color(primary);
    font-weight: font-weight(bold);
    line-height: 1.2;
    font-size: rem-calc(20);
    @include breakpoint(large) {
        font-size: rem-calc(24);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        border: 1px solid color(primary);
        border-radius: $radius;
        transition: border-color 250ms;
        z-index: 2;
        @each $name, $size in $global-gaps {
            @include breakpoint($name) {
                left: $size / 2;
                right: $size / 2;
            }
        }

        .apartments__item_booked & {
            border-color: color(secondary);
        }
        .apartments__item_sold & {
            border-color: color(dark-gray);
        }
    }

    &:hover {
        color: lighten(color(primary), 15%);
    }
    &:hover::before {
        border-color: lighten(color(primary), 15%);
    }
    .apartments__item_booked &:hover::before {
        border-color: darken(color(secondary), 20%);
    }
    .apartments__item_sold &:hover::before {
        border-color: darken(color(dark-gray), 20%);
    }
}

.apartments__details {
    display: flex;
    align-items: stretch;
    margin-bottom: rem-calc(32);
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: 0 $size;
        }
    }
    font-size: rem-calc(18);
    list-style: none;

    li {
        position: relative;
        flex: 0px 1 1;
        padding: rem-calc(0 3);

        &:first-child {
            flex-basis: 43%;
            max-width: 43%;
            flex-grow: 2;
            padding: rem-calc(4 30 0 13);
            color: color(blue);
            font-size: rem-calc(16);
            line-height: 1.2;

            &::before {
                content: '';
                position: absolute;
                left: rem-calc(2);
                top: rem-calc(8);
                bottom: rem-calc(3);
                width: rem-calc(3);
                border-radius: $radius;
                background-color: color(blue);
            }
        }
        &:nth-child(2) {
            flex-basis: 32%;
            max-width: 32%;
        }
        &:nth-child(3) {
            flex-basis: 25%;
            max-width: 25%;
        }

        sup {
            font-size: rem-calc(10);
        }
    }
}
.apartments__comment {
    display: block;
    font-size: rem-calc(13);
}

.apartments__price {
    margin-bottom: rem-calc(20);
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: 0 $size;
        }
    }
    font-size: rem-calc(24);
    font-weight: font-weight(semibold);
}

.apartments__button {
    position: relative;
    padding: rem-calc(12);
    font-size: rem-calc(12);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-top: none;
    border-radius: 0 0 $radius $radius;
    z-index: 3;

    .apartments__item_booked & {
        background-color: color(secondary);
    }
    .apartments__item_sold & {
        background-color: color(dark-gray);
    }

    &:hover {
        border-color: lighten(color(primary), 10%);
    }
    .apartments__item_booked &:hover {
        background-color: darken(color(secondary), 20%);
        border-color: darken(color(secondary), 20%);
    }
    .apartments__item_sold &:hover {
        background-color: darken(color(dark-gray), 20%);
        border-color: darken(color(dark-gray), 20%);
    }
}
