.menu-button {
    position: relative;
    width: rem-calc(52);
    height: rem-calc(52);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: rem-calc(32);
        height: rem-calc(2);
        background-color: color(white);
        box-shadow: 0 rem-calc(8) color(white), 0 rem-calc(-8) color(white);
        transform: translate(-50%, -50%);
        transition: box-shadow 250ms;
    }

    &:hover {
        background-color: rgba(color(white), .2);
    }
    &:active,
    &:focus {
        &::after {
            box-shadow: 0 rem-calc(11) color(white), 0 rem-calc(-11) color(white);
        }
    }
}

.menu-button_active {
    &::after {
        box-shadow: 0 rem-calc(11) color(white), 0 rem-calc(-11) color(white);
    }
}
