a {
    text-decoration: none;
    color: color(primary);
    transition: color 250ms;

    &:hover {
        color: color(alert);
    }
    &:active {
        color: darken(color(alert), 15%);
    }
}
