.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    padding-top: rem-calc(10);
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            margin: 0 ($size / -2);
        }
    }
}

.subscribe-form__fields {
    flex-basis: 100%;
    margin-bottom: rem-calc(32);
    @include breakpoint(medium) {
        flex-basis: 58%;
        max-width: 58%;
        margin-bottom: 0;
    }
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: 0 ($size / 2);
        }
    }
}
.subscribe-form__actions {
    flex-basis: 100%;
    @include breakpoint(medium) {
        flex-basis: 42%;
        max-width: 42%;
    }
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: 0 ($size / 2);
        }
    }
}

.subscribe-form__button {
    width: 100%;
    padding: rem-calc(15 8 16);
}
