.subscribe {
    display: flex;
    flex-wrap: wrap;
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: ($size / 2) ($size / 2) ($size / 2 - rem-calc(6));
        }
    }
    color: color(white);
    background-color: color(blue);
    border-radius: $radius;
}

.subscribe__description {
    flex-basis: 100%;
    @include breakpoint(large) {
        flex-basis: 43.5%;
    }
    @include breakpoint(small down) {
        margin-bottom: rem-calc(32);
    }
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: $size / 2;
        }
    }
}
.subscribe__form {
    flex-basis: 100%;
    @include breakpoint(large) {
        flex-basis: 56.5%;
    }
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: $size / 2;
            @if (($name == xlarge) or ($name == xxlarge)) {
                padding-right: $size / 2 + $size;
            }
        }
    }
}

.subscribe__title {
    margin-bottom: rem-calc(8);
    font-size: rem-calc(34);
    line-height: 1;
    font-weight: font-weight(semibold);
}

.subscribe__text {
    font-size: rem-calc(18);

    & > *:last-child {
        margin-bottom: 0;
    }
}
