.alert {
    position: fixed;
    top: $bit * 2;
    right: $bit * 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY($bit * -10) scale(.85);
    min-width: rem-calc(400);
    padding: $bit * 2;
    color: color(white);
    background-color: rgba(color(black), .85);
    border-radius: $radius;
    box-shadow: shadow(3-lvl);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms, transform 250ms, visibility 1ms linear 250ms;
}
.alert_faded {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity 250ms, transform 250ms;
}

.alert__text {
    &:not(:last-child) {
        margin-right: $bit * 4;
    }
    >*:last-child {
        margin-bottom: 0;
    }
}
