.logo {
    display: block;
    transition: opacity 250ms;
    @include breakpoint(small down) {
        img {
            width: rem-calc(28);
        }
    }

    &:hover {
        opacity: .7;
    }
}
