$checkbox-size: rem-calc(18);

.checkbox {
    display: block;
    color: color(white);
    transition: color 250ms;
    cursor: pointer;

    &:hover {
        color: color(black);
    }
}
.checkbox__input {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
}
.checkbox__text {
    position: relative;
    display: flex;
    padding-left: $checkbox-size + rem-calc(10);
    font-size: rem-calc(18);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: (rem-calc(28) - $checkbox-size) / 2;
        display: block;
        flex-shrink: 0;
        width: $checkbox-size;
        height: $checkbox-size;
        background-color: color(white);
        border-radius: 2px;
        transition: background-color 250ms;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: (rem-calc(28) - $checkbox-size) / 2;
        display: block;
        flex-shrink: 0;
        width: $checkbox-size;
        height: $checkbox-size;
        background-image: url(../img/ico/check.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 2px;
        transition: background-color 250ms;
    }

    .checkbox:hover & {
        &::before {
            background-color: color(medium-gray);
        }
    }
    .checkbox__input:focus + & {
        &::before {
            border-color: color(black);
            outline-width: 2px;
            outline-style: solid;
            outline-color: rgba(color(primary), .2);
            outline-offset: $bit;
        }
    }
    .checkbox__input:checked + & {
        &::before {
            background-color: color(primary);
            border-color: color(primary);
        }
        &::after {
            border-color: color(white);
        }
    }
    .checkbox__input:checked:hover + & {
        &::before {
            background-color: smart-scale(color(primary));
            border-color: smart-scale(color(primary));
        }
    }
}
.checkbox__helper,
.checkbox__error {
    order: 3;
    display: inline-block;
    padding: $bit / 2;
    padding-left: $checkbox-size + ($bit * 1.5);
    color: color(medium-gray);
    font-size: font-size(small);
    line-height: 1;

    .input__field_status_invalid ~ & {
        opacity: 0;
    }
}
