$switch-width: rem-calc(40);
$switch-height: rem-calc(20);
$switch-border-size: rem-calc(2);
$switch-inner-margin: rem-calc(2);

// Calc other sizes
$switch-inner-size: $switch-height - ($switch-border-size * 2) - ($switch-inner-margin * 2);
$switch-inner-shift: ($switch-width / 2) - ($switch-inner-size / 2) - $switch-border-size - $switch-inner-margin;


.switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    border: $switch-border-size solid color(dark-gray);
    border-radius: $switch-height;
    background-color: transparent;
    transition: border-color 250ms;

    &::after {
        content: '';
        position: absolute;
        left: calc(50% - #{$switch-inner-size / 2});
        top: calc(50% - #{$switch-inner-size / 2});
        display: block;
        width: $switch-inner-size;
        height: $switch-inner-size;
        background-color: color(dark-gray);
        border-radius: 50%;
        transition: background-color 250ms, transform 250ms;
    }

    &:hover {
        border-color: color(black);

        &::after {
            background-color: color(black);
        }
    }

    &[aria-checked='true'] {
        border-color: color(primary);

        &::after {
            background-color: color(primary);
            transform: translateX($switch-inner-shift);
        }
    }
    &[aria-checked='false'] {
        &::after {
            transform: translateX(-$switch-inner-shift);
        }
    }
}
