.page-footer {
    width: 100%;
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            max-width: rem-calc(1280) + $size;
            margin: 0 auto (rem-calc(24) + $size);
            padding: $size / 2;
        }
    }
}
