.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: url(../img/test.png);
            background-position: 50% 0;
            opacity: .4;
            filter: sepia(30%);
        }
        &::after {
            display: none;
        }
}
