.page-main {
    flex-grow: 2;
    width: 100%;
    max-width: rem-calc(1280);
    margin: 0 auto;
}

.page-main__header {
    max-width: rem-calc(1120);
    margin: 0 auto;
    padding: rem-calc(54 54 35);
}

.page-main__body {
    padding: rem-calc(20 27);
    background-color: rgba(color(white), .9);
}
