.page-main {
    flex-grow: 2;
    width: 100%;
    max-width: rem-calc(1280);
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            margin: 0 auto (rem-calc(8) + $size);
        }
    }
}

.page-main__header {
    margin: 0 auto;
    padding: rem-calc(54 0 35);
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            max-width: rem-calc(1120) + $size;
            padding-left: $size;
            padding-right: $size;
        }
    }
    color: color(primary);
}

.page-main__body {
    display: flex;
    flex-direction: column;
    & > * {
        flex-basis: 100%;
    }
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: rem-calc(20) ($size / 2) (rem-calc(21) + $size);
        }
    }
    background-color: rgba(color(white), .9);
}
