.page-main {
    flex-grow: 2;
    width: 100%;
    max-width: rem-calc(1280);
    margin: 0 auto;
}

.page-main__header {
    margin: 0 auto;
    padding: rem-calc(54 0 35);
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            max-width: rem-calc(1120) + $size;
            padding-left: $size;
            padding-right: $size;
        }
    }
}

.page-main__body {
    @each $name, $size in $global-gaps {
        @include breakpoint($name) {
            padding: rem-calc(20) ($size / 2);
        }
    }
    background-color: rgba(color(white), .9);
}
