$colors: (
    primary: #002f2f,
    secondary: #a7a37e,
    alert: #ff4444,
    white: #ffffff,
    black: #313639,
    dark-gray: #a1a1a1,
    medium-gray: #d6d6d6,
    light-gray: #fefefe,
    blue: #046380,
    bg: #efecca,
);

@function color($name) {
    @return map-get($colors, $name);
}
